<!DOCTYPE html>
<html lang="en">

  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    

    <!-- Bootstrap CSS using cdn -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">


    <title>GetFit</title>
    <link rel="shortcut icon" type="image/png" href="icons/logo.png"/>
  </head>
  <body>
    <div class="bckgrd">
      <div class="main">
        <h1 class="titlespot"><a href="/">GetFit</a></h1>
        <form action="getFood" method="post">
            <input type="text" class="form-control" id="foodString" placeholder="What ingredients do you have in the fridge" name="foodString">
        </form>
        <h2><%=title%></h2>
        <img src="<%=image%>" alt="Some pic">
      </div>
    </div>   
  </body>

</html>

<style>
  @import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
  html, body {
    height: 100%;
     margin: 0;
  }

  .main {
    position: fixed;
    width: 50%;
    top: 21%;
    left: 23%;
  }

  .titlespot {
    position: relative;
    width: 50%;

    font-family: 'Fredoka One', cursive;;
    font-style: normal;
    font-weight: normal;
    font-size: 500%;
    line-height: 80%;
    /* identical to box height */

    text-align: center;

    color: #FFFFFF;
  }
  .form-control {
    border-radius: 20px;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  .btn {
    background: #D33E1D;
    border-radius: 20px;
  }

  .bckgrd {
    background: linear-gradient(65.61deg, #DFB26E 2.78%, #D33E1D 84.25%);

    height: 100%; 

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
</style>
